.informes-container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.buscador-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.tabla-informes {
  width: 100%;
  border-collapse: collapse;
}

.tabla-informes th,
.tabla-informes td {
  border: 1px solid #ddd;
  padding: 8px;
}

.boton-ver {
  color: white;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}